div.content section:first-of-type{
  font-size: larger;
  margin-top: 0px;
  margin-bottom: 40px;
}

div.content section:first-of-type h2{
  margin: auto;
}

table, td, th{
  border: black 1px solid;
}

td, th{
  padding: 15px;
}

td:nth-child(3){
  padding: 0px;
}